* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Inter", serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
}

.button {
  padding: var(--padding);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color);
  line-height: var(--line-height);
}

a {
  text-decoration: none;
  color: #272731;
}

ul {
  list-style-type: none;
}

.auth .wrap {
  height: 100%;
  background-color: #f7f7f8;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
@media (min-width: 1200px) {
  .auth .wrap {
    flex-direction: row;
  }
}
.auth .header {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 32px;
}
.auth .header button {
  background-color: #f7f7f8;
  padding: 8px 22px 8px 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
}
.auth .header button:hover {
  background-color: #d7d7db;
}
.auth .header button img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.auth .header button p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #272731;
}

.auth {
  height: 100vh !important;
}
.auth__background {
  position: relative;
  display: none;
  max-height: 188px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
@media (min-width: 810px) {
  .auth__background {
    display: block;
  }
}
@media (min-width: 1200px) {
  .auth__background {
    width: 50%;
    max-height: 100%;
    height: 100%;
  }
}
.auth__background img {
  width: 100%;
  height: 100%;
}
.auth__background--blur {
  background-color: #5921b2;
  flex: none;
  inset: 0;
  mix-blend-mode: color;
  overflow: hidden;
  position: absolute;
}
.auth__container {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0 32px 48px 32px;
  border-radius: 16px;
  border: 1px solid #e0e0e6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
}
@media (min-width: 810px) {
  .auth__container {
    padding: 0 48px 48px 48px;
  }
}
@media (min-width: 1200px) {
  .auth__container {
    width: 50%;
    padding: 0 112px 48px 112px;
  }
}

.auth .box-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}
.auth .box-container .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.auth .box-container .logo img {
  width: 24px;
  height: 24px;
}
.auth .box-container .logo h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.auth .box-container .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.auth .box-container .content__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.auth .box-container .content__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.auth .box-container .content__title h6 {
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}
.auth .box-container .content__title p {
  color: #45454f;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.auth .box-container .content__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.auth .box-container .content__input .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.auth .box-container .content__input h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.auth .box-container .content__input input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #e0e0e6;
  max-height: 42px;
}
.auth .box-container .content__input input:focus {
  border: 2px solid #7c2fee;
  outline: none;
}
.auth .box-container .content .content__button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.auth .box-container .content .content__button button {
  max-height: 42px;
  width: 100%;
  padding: 11px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  cursor: pointer;
}
.auth .box-container .content .content__button--submit {
  background-color: #9455f1;
  border: 1px solid #7c2fee;
  color: #FFFFFF;
}
.auth .box-container .content .content__button--submit:hover {
  background-color: #7c2fee;
}
.auth .box-container .content .content__button--social {
  gap: 8px !important;
  color: #272731;
  border: 1px solid #e0e0e6;
  background-color: #FFFFFF;
}
.auth .box-container .content .content__button--social:hover {
  border: 1px solid #272731;
}
.auth .box-container .content .content__button--social img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.auth .box-container .content__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.auth .box-container .content__link span {
  color: #45454f;
}
.auth .box-container .content__link a {
  color: #9455f1;
  font-weight: 500;
}
.auth .box-container .content__link a:hover {
  text-decoration: underline;
}

.signup .auth__container {
  gap: 60px;
}

.user-managerment .wrap {
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  padding: 16px;
  margin: 0 auto;
}
.user-managerment__container {
  max-width: 862px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  border: 1px solid #e5e7eb;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.user-managerment__container h2 {
  font-size: 1.5rem;
}
.user-managerment__content {
  width: 100%;
}
.user-managerment__search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}
.user-managerment__search input {
  max-height: 40px;
  width: calc(100% - 120px);
  padding: 8px 12px;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.user-managerment__search input:focus {
  --ring: 0 0% 3.9%;
  --background: 0 0% 100%;
  --tw-ring-offset-width: 2px;
  --tw-ring-inset: ;
  --tw-ring-offset-color: hsl(var(--background));
  --tw-ring-color: hsl(var(--ring));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}
.user-managerment__search button {
  max-height: 40px;
  padding: 10px 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: #272731;
  color: #FFFFFF;
  border-radius: 8px;
}
.user-managerment__search button:hover {
  background-color: #2f2f2f;
}
.user-managerment .user__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.user-managerment .user__item {
  width: 100%;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}
.user-managerment .user__item h3 {
  font-weight: 600;
}
.user-managerment .user__item p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
}
.user-managerment .user__information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
.user-managerment .user__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.user-managerment .user__nav button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 36px;
  padding: 0 12px;
  border-radius: 8px;
}
.user-managerment .user__nav .button--edit {
  background-color: #FFFFFF;
  border: 1px solid #e5e7eb;
}
.user-managerment .user__nav .button--edit:hover {
  background-color: #d7d7db;
}
.user-managerment .user__nav .button--delete {
  background-color: #ef4444;
  color: #FFFFFF;
}
.user-managerment .user__nav .button--delete:hover {
  background-color: #f35a58;
}

.popup__wrap {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  display: none;
}
.popup__container {
  background-color: #FFFFFF;
  max-width: 512px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  padding: 24px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.popup__container form {
  width: 100%;
  height: 100%;
}
.popup__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.popup__nav h2 {
  letter-spacing: -0.025em;
  font-weight: 600;
  line-height: 1;
  font-size: 1.125rem;
}
.popup__nav button {
  padding: 4px;
  display: flex;
  background-color: #FFFFFF;
}
.popup__nav button img {
  width: 8px;
  height: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.popup__input .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.popup__input h6 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}
.popup__input input {
  height: 2.5rem;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.popup__input input:focus {
  --ring: 0 0% 3.9%;
  --background: 0 0% 100%;
  --tw-ring-offset-width: 2px;
  --tw-ring-inset: ;
  --tw-ring-offset-color: hsl(var(--background));
  --tw-ring-color: hsl(var(--ring));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}
.popup__button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.popup__button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
}
.popup__button .button--cancel {
  background-color: #FFFFFF;
  border: 1px solid #e5e7eb;
}
.popup__button .button--cancel:hover {
  background-color: #d7d7db;
}
.popup__button .button--create {
  background-color: #272731;
  color: #FFFFFF;
}
.popup__button .button--create:hover {
  background-color: #2f2f2f;
}

.create__container {
  max-height: 388px;
}
.create__information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}

.update__container {
  max-width: 512px;
}
.update__information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}

.delete__container {
  max-height: 182px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.delete__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}/*# sourceMappingURL=main.css.map */