$black: #272731;
$gray-border: #e0e0e6;
$gray-background: #f7f7f8;
$gray-hover: #d7d7db;
$gray-text: #f2f5ff;
$purple-background: #9455f1;
$purple-hover: #7c2fee;
$purple-border: #7c2fee;
$white: #FFFFFF;



$flex-row: row;
$flex-column: column;
$flex-row-reverse: row-reverse;
$flex-column-reverse: column-reverse;
$flex-center: center;
$flex-space-between: space-between;
$flex-start: flex-start;
$flex-end: flex-end;

$breakpoint-sm: 576px;
$breakpoint-md: 810px;
$breakpoint-lg: 1200px;