@use '../../base/variables' as var;
@use '../../base/mixins' as mixin;

.auth {
    .wrap {
        height: 100%;
        background-color: var.$gray-background;
        padding: 8px;
        @include mixin.layout-flex(var.$flex-column, var.$flex-start, var.$flex-center, 8px);

        @include mixin.respond-to(lg) {
            flex-direction: row;
        }
    }

    .header {
        width: fit-content;
        margin: 0 auto;
        padding-top: 32px;

        button {
            background-color: var.$gray-background;
            padding: 8px 22px 8px 14px;
            @include mixin.layout-flex(var.$flex-row, var.$flex-start, var.$flex-center, 8px);
            cursor: pointer;
            border-radius: 8px;

            &:hover {
                background-color: var.$gray-hover;
            }

            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                color: var.$black;
            }
        }
    }
}